{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<head>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascripts/app.js"></script>
</head>
<body>
    {{{body}}}
    
    <h1 id="title">{{title}}</h1>
    <h1>welcome to {{name}}</h1>
    
    <img src="images/robot.jpg" alt="robot.jpg" >
    {{!-- <img src="https://images.newscientist.com/wp-content/uploads/2021/04/21160754/21-april_pepper-the-robot.jpg" alt="robot.jpg"> --}}

    
    
    
</body>
</html>